<h1>Recent Projects</h1>

<% @projects.each do |project| %>
	<p class="project-name"><strong><%= project.title %> : </strong></p>
  <br><strong><%= project.goal %></strong>
  <br><em><%= project.description %></em>
<% end %>